* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
/* header */

/* header seaction */
.header{
    background-color:rgb(249, 113, 113);
    width: 100%;
    height: 850px;
}

.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}

.lupa{
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
}

.header_icon{
    border: 1px solid white;
    width: 1px;
    height: 47px;
    display: inline-block;
    background-color: white;
    border-radius: 4px;
    margin: auto 32px;
}
/* header seaction */

/* header bottom */

.header_bottom{
    display: flex;
    gap: 100px;
    margin-top: 70px;
}

.header_bottomText{
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    line-height: 140%; 
    letter-spacing: 2.2px;
    text-transform: uppercase;
}

.header_btn{
    color: #FF4948;
    font-size: 22px;
    font-weight: 500;
    line-height: 140%; 
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
}

.header_bottomRight h1{
    color: #FFF;
    font-size: 99.17px;
    font-weight: 700;
    line-height: 100%; 
    text-transform: uppercase;
}

.header_price{
    color: #FFF;
    font-size: 44px;
    font-weight: 700;
    line-height: 130%;
    margin: 45px auto;
}

.header_bottomRight p del{
    opacity: 0.7;
}

/* header bottom */

/* main section */


.headphone_about {
    display: flex;
    gap: 90px;
}

.collection_section h1 {
    text-align: center;
    color: #180202;
    font-size: 44px;
    font-weight: 700;
    line-height: 130%;
}

.headphone_color {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headphone_img1 {
    position: relative;
    right: -150px;
    z-index: -1;
}

.headphone_img2 {
    position: relative;
    right: 150px;
    z-index: -1;
}

.about_card {
    display: flex;
    gap: 15px;
    margin-top: 40px;
}

.more_option {
    color: #FF4948;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 7px;
}

.nota {
    position: relative;
    right: 500px;
    top: -200px;
}

.about_right {
    display: flex;
    align-items: end;
}

.product{
    margin-top: 190px;
}

.product_text{
    text-align: center;
    margin-bottom: 100px;
}

.img_section{
    width: 332px;
    height: 331px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFE5EE;
}

.product_text h1{
    margin-bottom: 10px;
    color: #180202;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    line-height: 130%; 
}

.product_img{
    position: relative;
    top: -70px;
    right: -20px;
}

.product_cards{
    display: flex;
    justify-content: space-between;
}

.headphone_box{
    margin-top: 130px;
}


.box_right h1{
    color: #000;
    font-size: 44px;
    font-weight: 700;
    line-height: 130%; 
}

.headphone_box{
    display: flex;
    padding-top: 20px;
}

.box_text{
    border-bottom: 1px solid rgb(96, 89, 89);
    display: flex;
    gap: 10px;
    margin-top: 50px;

}
.box_text p{
    color: #000;
    font-size: 22px;
    font-weight: 400;
    line-height: 140%; 
    opacity: 0.7;
} 



/* main section */

/* footer */
.footer_top {
    background-image: url(./image2/bck_nota.png);
    align-items: center;
    margin-top: 70px;
    text-align: center;
    justify-content: center;
}

.footer_topBox {
    width: 812px;
    height: 392px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF4F4;
}

.form_box {
    display: flex;
    width: 503px;
    height: 61px;
    padding-left: 30px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 73px;
    background: #FFF;
    border: none;
    gap: 150px;
    margin: 36px 10px 4px 100px;
}

.footer_btn {
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    line-height: 140%;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
    background: #FF4948;
    border: none;
    height: 61px;



}

.form_box input {
    color: #180202;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    outline: none;
    border: none;

}

.footer_topBox h1 {
    color: #180202;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 130%;

}

.footer_topBox p {
    color: #180202;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 30px;
}

.footer_topBox {

    padding: 54px 100px;
}

.footer_bottom {
    height: 190px;
    width: 100%;
    background-color: #FF4948;
    margin-top: 190px;
}

.footer_link {
    display: flex;
    gap: 30px;
}

.foter_text {
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    line-height: 140%;
}

.d_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.footer_img {
    border: 1px solid white;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    margin-left: 15px;
}
/* footer */
